#contant-1
{
    width: 90%;
    height: auto;
    background-color: green;
    color: white;
    padding: 30px;
    margin-top: 3%;

}

#contant2
{
    width: 90%;
    height: auto;
    background-color: blue;
    color: white;
    padding: 30px;
    margin-top: 3%;

}
#contant3
{
    width: 90%;
    height: auto;
    background-color: green;
    color: white;
    padding: 30px;
    margin-top: 3%;

}